li {
  list-style: none;
}

ul {
  margin: 0;
	padding: 0;
}

button {
  outline: none;
  border: none;
  background-color: none;
}

@media screen and (max-width: 380px) {
    .main .duration div:nth-child(1) {
			width: 50px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
}

/* header部分 */
.header {
  height: 90px;
  width: 100%;
  background-color: #5fc0cd;
  position: fixed;
  top: 0;
}

.page {
  position: absolute;
  height: 45px;
  width: 30vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #55a8b3;
  border-radius: 20%;
  min-width: 140px;

}

.page button {
  width: 15vw;
  height: 45px;
  float: left;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 0.5vw;
  background-color: #55a8b3;
  min-width: 70px;
}

.page button:nth-child(2) {
  background-color: #fff;
  color:#55a8b3 ;
}

.header .position1 {
  background: url(../img/img.png) no-repeat;
  height:44px;
  width:42px;
  background-position:0 -95px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.filter-bar {
  height: 80px;
  position: fixed;
  top: 90px;
  width: 100%;
	background-color: #ffffff;
	z-index: 10;
}

.filter-bar > ul {
  height: 80px;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  border-bottom: 1px solid #e1e5e7;
}

.filter-bar > ul > li {
  flex: 1;
  text-align: center;
  position: relative;
  align-items:center;
  line-height: 80px;
}

.filter-bar > ul > li > a {
	text-decoration: none;
	color: #000;
}

.filter-bar > ul > li::after {
  height:8px;
  width:13px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/img.png);
  background-position:0 0;
  content: "";
}

.header-fixed {
  height: 170px;
}




/* footer部分 */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 98px;
  border-top: 2px solid #e2eaec;
  background-color: #f8fafb;
  display: flex;
}

.footer .home ,.footer .profile{
  /* position: absolute;
  left: 23vw;
  top: 12px; */
  /* width: 46px; */
  /* height: 58px; */
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer .home-bar {
  display: inline-block;
}


.footer .home .icon{
  background: url(../img/img.png) no-repeat;
  background-position: 0 -180px;
  width: 46px;
  height: 40px;
}

.footer .home .text ,.footer .profile .text{
  text-align: center;
  color: #5fc0cd;
  line-height: 35px;
}

.footer .tabbar {
  flex: 1;
}

.footer .tabbar .bar {
  background-color: #5fc0cd;
  width: 94px;
  height: 94px;
  border-radius: 94px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
}
.footer .tabbar .icon {
  
  background: url(../img/img.png) no-repeat;
  background-position: 0 -55px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 28px;
  top: 24px;
}


.footer .profile {
  /* position: absolute;
  right: 23vw;
  top: 12px;
  flex: 1; */
  flex: 1;

}

.footer .profile .icon {
  background: url(../img/img.png) no-repeat;
  background-position: 0 -139px;
  width: 42px;
  height: 40px;
  
}

.footer-fixed {
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

/* main部分  */
.main {
	color: #999;
	font-size: 20px;
}

.main .data:after {
	height: 20px;
	width: 100%;
	content: "";
	display: block;
	border-bottom: 1px solid #e1e5e7;
}

.main .date {
	padding-left: 40px;
	margin-top: 15px;
	margin-left: 10px;
	height: 24px;
	background-image: url(../img/img.png);
	background-repeat: no-repeat;
	background-position: 0 -31px;
}

.main .duration {
	margin-top: 15px;
	margin-left: 10px;

}

.main .duration > div:nth-child(1) {
	float: left;
	margin-left: 40px;
	color: #000000;
}

.main .duration .price {
	float: right;
	margin-right: 20px;
	color: red;
}

.main .duration .price > span:nth-last-child(1) {
	color: #5fc0cd;
}

.duration:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}

.main .position {
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 40px;
	height: 22px;
	background-image: url(../img/img.png);
	background-repeat: no-repeat;
	background-position: 0 -8px;
}

